
<div class="span5 offset4 text-center steamy-hottub">



	<h1 class="custom-font">Hi I'm James</h1>

	<h2>I'm spring breakin</h2>


	<%= link_to 'Enter My World', '#', :class => 'btn btn-primary btn-large' %>
	


</div>